# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [12]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [16]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [19]:
# Find the establishments with a hygiene score of 20
query = {'Hygiene': 20}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print(f"Number of establishments with hygiene score 20: {count}")

# Display the first document in the results using pprint
result = establishments.find_one(query)
pprint(result)

Number of establishments with hygiene score 20: 0
None

In [14]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(list(establishments.find(query)))

# Display the number of rows in the DataFrame
print(f"Number of rows in DataFrame: {len(df)}")

# Display the first 10 rows of the DataFrame
print(df.head(10))

Number of rows in DataFrame: 0
Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [15]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {"$and": [{"local_authority": "London"}, {"RatingValue": {"$gte": 4}}]}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print(f"Number of establishments in London with RatingValue >= 4: {count}")

# Display the first document in the results using pprint
result = establishments.find_one(query)
pprint(result)

Number of establishments in London with RatingValue >= 4: 0
None

In [9]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(list(establishments.find(query)))

# Display the number of rows in the DataFrame
print(f"Number of rows in DataFrame: {len(df)}")

# Display the first 10 rows of the DataFrame
print(df.head(10))

Number of rows in DataFrame: 0
Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [10]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 
longitude = 

query = {
    "RatingValue": 5,
    "location": {
        "$geoWithin": {
            "$box": [
                [longitude - degree_search, latitude - degree_search],
                [longitude + degree_search, latitude + degree_search]
            ]
        }
    }
}

sort = [("hygiene_score", 1)]

# Print the results
result = establishments.find(query).sort(sort).limit(5)
for doc in result:
    pprint(doc)

SyntaxError: invalid syntax (1642440714.py, line 6)

In [ ]:
# Convert result to Pandas DataFrame
df = pd.DataFrame(list(result))
print(df)

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

pipeline = [
    {"$match": {"hygiene_score": 0}},
    {"$group": {"_id": "$local_authority", "count": {"$sum": 1}}},
    {"$sort": {"count": -1}}
]

# Print the number of documents in the result
result_count = list(establishments.aggregate(pipeline))
print(result_count)

# Print the first 10 results
result_top10 = result_count[:10]
pprint(result_top10)

In [ ]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(result_count)

# Display the number of rows in the DataFrame
print(f"Number of rows in DataFrame: {len(df)}")

# Display the first 10 rows of the DataFrame
print(df.head(10))